*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    min-height: 100vh;
    width: 100%;
    background-color: brown;
}

.card{
    margin: 1rem;
    border: 2px solid orange;
    background-color: lightpink;
    padding: 1em;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-flow: column nowrap;
    border-radius: 0.5rem;
    
}

::-webkit-scrollbar{
    background-color: transparent;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(83, 255, 255),rgb(205, 2, 205));
    border-radius: 100px;
}