*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #161616;
    padding: 3rem;
}

.container{
    width: 30rem;
    height: 35rem;
    position: relative;
    overflow:hidden;
    box-shadow: 0px 0px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
   
}

.content{
    position: absolute;
    width: 80%;
    height: 10px;
    bottom: 0;
    overflow: hidden;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transform-origin: bottom;
    transition: all 0.5s;
    gap: 1rem;
    /* padding: 1rem; */
}
 
.content h1{
    font-size: 2.25rem;
}
.content p{
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 1s ;
}



.content button{
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    opacity: 0;
    transition: all 1s;
}

.container:hover .content{
    width: 100%;
    height: 100%;
}
.container:hover .content p{
    opacity: 1;
    transition-delay:0.5s ;
}

.container:hover .content button{
    opacity: 1;
    transition-delay:0.5s ;
}